// Blog Section
#blog {
  background-color: $primary-color;
  color: $white-color;
  margin-top: -15rem;
  padding-top: 20rem;

  @include respond(tab-land) {
    margin-top: -10rem;
    padding-top: 15rem;
  }

  @include respond(tab-port) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .blog-wrapper {
    margin-top: 3rem;

    &__item {
      background-color: rgba($white-color, 0.1);
      border-radius: 10px;
      padding: 2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        background-color: rgba($white-color, 0.15);
      }

      @include respond(phone) {
        padding: 1.5rem;
      }
    }

    &__image {
      margin-bottom: 1.5rem;

      img {
        border-radius: 8px;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    &__content {
      .blog-wrapper__title {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: $default-font-size + 0.2rem;
        color: $white-color;

        @include respond(phone) {
          font-size: $default-font-size;
        }
      }

      .blog-wrapper__description {
        margin-bottom: 1rem;
        color: lighten($white-color, 10%);
        line-height: 1.6;
      }

      .blog-wrapper__date {
        font-size: $small-font-size;
        color: lighten($white-color, 20%);
        font-style: italic;
        display: block;
        margin-bottom: 1rem;
      }
    }
  }
}